<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In for Bus Ticket Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
    <link rel="stylesheet" href="C:\Users\abc\Desktop\project1\static\reg.css">
</head>
<body>
    <form class="form" action="/signin" method="post">
        <p>LOGIN FOR BUS TICKET </p>
        <div class="user-box">
            <input type="text" name="email" required="">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <center>
            <input type="button" value="Signup" onclick="history.back()">
            <button  type="submit"><a href="app.html"></a>LOGIN</button>
       
        </center>
        
    </form>
</body>
</html>
