<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thanks massage </title>
    <link rel="stylesheet" href="thanks.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='thanks.css') }}">
   
</head>
<body>
    
    <br>
    
<h1>***************THANKS FOR CONNECTS WITH US !....... ************ </h1>  
<br>
<br>
<br><br><br><br><br><br><br><br><br><br>
<h3>you can contact with us<br>
email: abcdefr@gmail.com<br>
phone no : 0934934349<br>
web   : www.indianbuses.com<br></h3>
</body>
</html>